<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="#" class="back link">
        <i class="icon icon-back-blue icon-back"></i>
        <span></span>
      </a>
    </div>
    <div class="center sliding" data-i18n=""></div>

  </div>
</div>
<div class="pages">
  <div data-page="bugs-open" class="page navbar-through">
    <div class="page-content">
      <div class="list-block">
        <ul class="active-option" ng-show="false">
          <li>
            <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search indicators">
              <div class="item-content">
                <div class="item-inner">
                  <!-- Select label -->
                  <div class="item-title" >Active</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search indicators">
              <select name="indicators">
                <option value="Candle" selected>Moving Average</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <!-- Select label -->
                  <div class="item-title">Chart type</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search indicators">
              <select name="indicators">
                <option value="adx" selected>ADX</option>
                <option value="aroon">Aroon</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <!-- Select label -->
                  <div class="item-title">Indicators</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>