<!-- Top Navbar-->
<div class="navbar">

  <div class="navbar-inner">

    <div class="left">
      <a href="#" class="back">Back</a>
    </div>

    <div class="center">
      Germany 30 dft
    </div>

    <div class="right">
      <span style="float: right">

        <a href="app/components/navbar/b.html" class="item-link">
          Options
          <i className="icon icon-plus" style="display: none"></i>
        </a>

      </span>
    </div>

    <!-- Sub navbar -->
    <div class="subnavbar" style="display: none">
      <!-- Sub navbar content, for example tabs buttons -->
      <div class="buttons-row">
        <a href="#tab1" class="button active">Tab 1</a>
        <a href="#tab2" class="button popover-periodicity" data-popover=".popover-about">
          <i class="icon icon-form-radio"></i>
          5 Min.
        </a>
        <a href="#tab3" class="button">Tab 3</a>
      </div>
    </div>

  </div>

  <menu></menu>

</div>
