
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back">Back</a></div>
    <div class="center sliding">Charts</div>
  </div>
</div>

<div class="pages chart-page">
  <div data-page="charts" class="page navbar-through">
    <div class="page-content">
      <div class="list-block">
        <ul>
          <li class="item-divider">CHART TYPE</li>
          <li>
            <label class="label-radio item-content">
              <input type="radio" name="my-radio" value="candle" checked="checked">
              <div class="item-inner">
                <div class="item-title">Candle</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-radio item-content">
              <input type="radio" name="my-radio" value="colored-bar">
              <div class="item-inner">
                <div class="item-title">Colored Bar</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-radio item-content">
              <input type="radio" name="my-radio" value="line">
              <div class="item-inner">
                <div class="item-title">Line</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-radio item-content">
              <input type="radio" name="my-radio" value="hollow-candle">
              <div class="item-inner">
                <div class="item-title">Hollow Candle</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-radio item-content">
              <input type="radio" name="my-radio" value="mountain">
              <div class="item-inner">
                <div class="item-title">Mountain</div>
              </div>
            </label>
          </li>
          <li class="item-divider">CHART SCALE</li>
          <li>
            <label class="item-content">
              <div class="item-inner">
                <div class="item-title">Log Scale</div>
                <label class="label-switch">
                  <input type="checkbox">
                  <div class="checkbox"></div>
                </label>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>